$unit-size: 64px;
$font-size: 16px;

table.local-level {
  td {
    width: $unit-size;
    height: $unit-size;
    font-size: $font-size;
    vertical-align: top;
    text-align: center;

    small.debug {
      font-size: $font-size * 0.8;
      color: rgba(0,0,0,0.3);
      display: block;
    }

    &.tile {
      &.void {
        background: black;
      }
      &.wall {
        background: mix(yellow, white);
      }
      &.floor {
        background: #ccc;
      }
      &.unknown {
        background: magenta;
      }
    }
  }
}
